{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}

<h2 class="text-2xl font-bold mb-1">This is home page</h2>

<p>Name: {{ name }}</p>
<p>Age: {{ age }}</p>
<p>City: {{ city }}</p>

{% if subjects %}
<h4 class="font-bold mt-4 text-2xl">Subjects</h4>
<ul class="mt-2 rounded-lg overflow-hidden shadow-md" style="background: rgba(8, 40, 3, 0.607);">
    {% for sub in subjects %}
        <li class="text-white font-bold px-6 py-4 border-b border-green-700 list-disc" style="border-left: 4px solid rgb(0,128,0);">
            {{ sub }}
        </li>
    {% endfor %}
</ul>
{% else %}
<p>No records Found</p>
{% endif %}

{% endblock content %}