{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}

<div class="overflow-hidden rounded-lg border border-slate-200 bg-white shadow">
    <table class="min-w-full divide-y divide-slate-200">
        <thead class="bg-slate-50">
            <tr>
                <th class="py-3 px-4 text-left text-sm font-semibold text-slate-700">
                    Name
                </th>
                <th class="py-3 px-4 text-left text-sm font-semibold text-slate-700">
                    Address
                </th>
                <th class="py-3 px-4 text-left text-sm font-semibold text-slate-700">
                    Email
                </th>
                <th class="py-3 px-4 text-left text-sm font-semibold text-slate-700">
                    Phone
                </th>
                <th class="py-3 px-4 text-left text-sm font-semibold text-slate-700">
                    Age
                </th>
                <th class="py-3 px-4 text-left text-sm font-semibold text-slate-700">
                    Department
                </th>
            </tr>
        </thead>

        <tbody class="divide-y divide-slate-200 text-sm text-slate-700">
            {% for student in student %}
            <tr class="bg-white hover:bg-slate-50">
                <td class="px-4 py-4">{{ student.name }}</td>
                <td class="px-4 py-4">{{ student.address }}</td>
                <td class="px-4 py-4">{{ student.email }}</td>
                <td class="px-4 py-4">{{ student.number }}</td>
                <td class="px-4 py-4">{{ student.age }}</td>
                <td class="px-4 py-4">{{student.department.name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}